body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: blue;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
}

textarea {
    resize: vertical;
    height: 150px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#titulo-label {
    font-weight: bold;
}